{% extends "base.html" %}

{% block content %}
  <div class="card text-center">
    <h5 class="card-header">
      Login</h5>
    <div class="card-body">
      <h5 class="card-title">
        Quora-Clone</h5>
      <p class="card-text">
        A best place for learn and share knowledge.
      </p>
      {% if form %}

        <form action="{% url 'core:login-view' %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}" method="post">
          {% csrf_token %}
          <!-- Email input -->
          <div class="form-outline mb-4">
            {# <input type="email" id="email" class="form-control"/> #}
            {{ form.query }}
            <label class="form-label" for="email">
              Email/Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            {# <input type="password" id="password" class="form-control"/> #}
            {{ form.password }}
            <label class="form-label" for="password">
              Password</label>
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">

            <div class="col">
              <!-- Simple link -->
              <a href="{% url 'core:register-view' %}">
                Create a account</a>
            </div>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block">
            Sign in</button>
        </form>
      {% endif %}

    </div>

    <!-- error -->
    {% if form.errors %}

      <div class="card-footer">

        {% for field in form %}

          {% for error in field.errors %}
            <div
              class="alert alert-primary mb-0 alert-dismissible  fade show "
              id="alertExample"
              role="alert"
              data-mdb-color="secondary">
              {{ error | escape }}
              <button type="button" class="btn-close ms-2" data-mdb-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}

        {% endfor %}

        {% for error in form.non_field_errors %}
          <div
            class="alert alert-danger mb-0 alert-dismissible  fade show"
            id="alertExample"
            role="alert"
            data-mdb-color="danger">
            {{ error | escape }}
            <button type="button" class="btn-close ms-2" data-mdb-dismiss="alert" aria-label="Close"></button>
          </div>

        {% endfor %}

      </div>

    {% endif %}
    <!-- error -->

  </div>
{% endblock content %}
