{% extends "base_core.html" %}

{% block TITLE %}
    | Questions Detail
{% endblock TITLE %}

{% block content %}
    {% include "core/utils/navbar.html" with user=request.user %}

    <div class="container">
        <div class="m-1 p-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'core:home' %}">
                            Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Question Detail</li>
                </ol>
            </nav>
        </div>
        <hr class="dropdown-divider"/>
        <br>
        <br>
        <br>

        <div class="d-flex" style="height: 100vh;"></div>

    </div>
{% endblock content %}


