{% extends "base_core.html" %}

{% block TITLE %}
    | Questions Detail
{% endblock TITLE %}

{% block content %}
    {% include "core/utils/navbar.html" with user=request.user %}

    <div class="container">
        <div class="m-1 p-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'core:home' %}">
                            Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Question Detail</li>
                </ol>
            </nav>
        </div>

        <hr class="dropdown-divider"/>

        {% if question %}
            <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div class="text-center">
                    <h3>{{ question.question }}</h3>
                    <p>{{ question.description }}</p>
                </div>
            </div>
        {% endif %}

        {% if form %}
            <div class="d-flex" style="">
                <form method="post" action="{% url 'core:answer-form' question.id %}">
                    {% csrf_token %}
                    <div class="form-outline mb-4 lg-12">
                        {{ form.answer }}
                        <label class="form-label" for="form4Example3">Answer</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Post Answer</button>
                </form>
            </div>
        {% endif %}

        <hr class="dropdown-divider"/>

        {% if answers %}
            <div class="">
                {% for answer in answers %}
                    <div class="text-center">
                        <p class="p-2 m-2">{{ answer.answer }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


    </div>
{% endblock content %}


